.container {
    padding: 16px;
  }

p {
    font-size: 24px;
    font-weight: bold;
}

select {
    position: relative;
    font-family: Arial;
    font-size: 16px;
  }

input[type=email], input[type=password], input[type=text] {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 14px;
}

label {
    font-size: 14px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 30%;
    font-size: 14px;
  }


.create {
    width: auto;
    padding: 0;
    border: none;
    background: none;
    font-size: 14px;
  }


form {border: 3px solid #f1f1f1;}

.err {
    font-size: 14px;
}