<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculator</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        Try This Calculator:

        <form method="POST">
            first: <input type="number" value="<%= first %>" step="any" name="first"><br>
            second: <input type="number" value="<%= second %>" step="any" name="second"><br>
            <button type="submit" name="operator" value="+">+</button>
            <button type="submit" name="operator" value="-">-</button>
            <button type="submit" name="operator" value="*">*</button>
            <button type="submit" name="operator" value="/">/</button>
        </form>
        <p> Result: <%= result %></p>

      </div>
    </div>
  </body>
</html>